@inject NavigationManager UriHelper

<div class="d-flex flex-row align-items-stretch h-100 w-100">
    <div class="h-100 bg-purple-2 d-felx flex-column p-3" style="width:200px">
        <div class="text-light cursor-pointer" onclick="@(()=>goTo("wallet/dashboard"))">
            Dashboard
        </div>
        <div class="text-light cursor-pointer" onclick="@(()=>goTo("wallet/transactions"))">
            Transactions
        </div>
        <div class="text-light cursor-pointer" onclick="@(()=>goTo("wallet/send"))">
            Send
        </div>
        <div class="text-light cursor-pointer" onclick="@(()=>goTo("wallet/receive"))">
            Receive
        </div>
        <div class="text-light cursor-pointer" onclick="@(()=>goTo("wallet/staking"))">
            Staking
        </div>
    </div>
    <div class="w-100 p-3">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    void goTo(string url)
    {
        UriHelper.NavigateTo(url);
    }

}
