@using System.ComponentModel.DataAnnotations;
@page "/wallet/dashboard/"
@using ProjectTalon.App.ViewModel
@inject NavigationManager UriHelper

<h1>Dashboard</h1>

<div class="card"> 
    <div class="card-body">
        <h5 class="card-title">
            @SelectedWallet.Name
        </h5>
        <div class=" d-flex justify-content-between">
            <div class="h3">
                @SelectedWallet.Amount
            </div>
            <div>
                <div class="h5">
                    @SelectedWallet.AmountInUSD
                </div>
                <div>
                    1 ADA = @SelectedWallet.CurrencyConversionRate USD
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-6">
        <h5>Tokens</h5>
        <div class="card">
            <div class="card-body">
               <ul class="list-group">
                    @foreach(var token in Tokens)
                    {
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div>
                                        @token.Name
                                    </div>
                                    <div class="font-size-xs">
                                        @token.Asset
                                    </div>
                                </div>
                                <div>
                                    @token.Amount @token.Name
                                </div>
                            </div>
                            
                        </li>
                    }
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h5>Recent Transactions</h5>
        <div class="card">
            <div class="card-body">
               <ul class="list-group">
                    @foreach(var transaction in Transactions)
                    {
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <div>
                                        @transaction.Date.ToLongTimeString()
                                    </div>
                                    <div class="font-size-xs">
                                        @Enum.GetName(typeof(TransactionStatusId), transaction.TransactionStatusId)
                                    </div>
                                </div>
                                <div>
                                    @transaction.Amount @transaction.TokenName
                                </div>
                                <div>
                                    <Button Text="View Details" />
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <div class="text-center pt-3" @onclick="@(e => GoTo("transactions"))">
                    See More
                </div>
            </div>
        </div>
    </div>
</div>
    

@code {
    public class Wallet
    {
        public string Name { get; set; }
        public decimal Amount { get; set; }
        public decimal AmountInUSD { get; set; }
        public int CurrencyId { get; set; }
        public decimal CurrencyConversionRate {get; set;}
    }

    public class Token
    {
        public string Name { get; set; }
        public string Asset { get; set; }
        public int Amount { get; set; }
    }

    public class Transaction
    {
        public DateTime Date { get; set; }
        public int TransactionStatusId { get; set; }
        public decimal Amount { get; set; }
        public string TokenName { get; set; }
    }

    public Wallet SelectedWallet;
    public List<Token> Tokens;
    public List<Transaction> Transactions;

    public void GoTo(string url)
    {
        UriHelper.NavigateTo("wallet/" + url);
    }

    protected override void OnInitialized()
    {
        FetchDashBoard();
    }

    void FetchDashBoard()
    {
        SelectedWallet = new()
            {
                Amount = (decimal)370.825743,
                AmountInUSD = (decimal)741.65,
                Name = "Wallet 1",
                CurrencyConversionRate = 2
            };

        Tokens = new();
        Tokens.Add(new()
            {
                Amount = 100000,
                Name = "Token1",
                Asset = "Asset123"
            });

        Transactions = new();
        Transactions.Add(new()
            {
                Amount = 5163,
                Date = DateTime.Now,
                TransactionStatusId = 1,
                TokenName = "Ada"
            });
    }

}

