@using System.ComponentModel.DataAnnotations;
@page "/"
@using Newtonsoft.Json
@using ProjectTalon.App.ViewModel
@using ProjectTalon.App.Enums
@using ProjectTalon.Core.Common
@using ProjectTalon.Core.Data.Models
@using ProjectTalon.Core.Requests
@inject IWalletDashboardViewModel ViewModel

@if(ViewModel.WalletSummary is null)
{
    @*Need a Spinner*@
}else
{

<div class="p-5">
    <div class="pb-5">
        <h1>@ViewModel.WalletSummary.Name</h1>
        <Card>
            <div class="d-flex align-items-baseline">
                <h6 class="m-0">Address</h6>
                <p class="pl-3 m-0">@ViewModel.WalletSummary.SingleAddress</p>
            </div>    
        </Card>
    </div>
        
        


    

    <div class="row">
        <div class="col-6">
            <h2>Connections</h2>
            <div>
                @if (ViewModel.Connections.Any())
                {
                    @foreach (var conn in ViewModel.Connections)
                    {
                        <Card>
                            <div class="row mb-2">
                                <div class="col-6">@conn.Name</div>
                                <div class="col-6">
                                    @if ((int)conn.ConnectionStatus > 0)
                                    {
                                        <Badge Text=@(((ConnectionStatus)conn.ConnectionStatus).ToString()) Theme="@(conn.ConnectionStatus == (int)ConnectionStatus.Approved ? "success" : "danger")" />
                                    }
                                    else
                                    {
                                        <button class="btn btn-success" @onclick="() => ViewModel.UpdateConnection(conn.Id, ConnectionStatus.Approved)">Approve</button>
                                        <button class="btn btn-default" @onclick="() => ViewModel.UpdateConnection(conn.Id, ConnectionStatus.Denied)">Deny</button>
                                    }
                                </div>
                            </div>
                        </Card>
                    }
                }
            </div>
        </div>
        <div class="col-6">
            <h2>Transaction Requests</h2>
            <div>
                @if (ViewModel.TransactionRequests.Any())
                {
                    @foreach (var tr in ViewModel.TransactionRequests)
                    {
                        <Card>
                            <div class="row mb-2">
                                @switch(tr.StatusId)
                                {
                                    case (int)TransactionRequestStatus.Pending:
                                        <div class="col-12 mb-3">
                                            <small><strong>Application:</strong></small> <br/>@tr.App.Name</div>
                                        <div class="col-12">
                                            <small><strong>Output:</strong></small>
                                            <div class="row">
                                            @foreach(var o in GetOutput(tr))
                                                {
                                                    <pre>
                                                    <code>
    {
        Address: @o.Address,
        Assets: [
            @foreach(var asset in o.Assets)
            {
                <span>         { Name: @asset.AssetName, Quantity: @asset.Quantity },</span>
            }

        ]
    }
                                                    </code>
                                                    </pre>
                                                }
                                            </div>
                                        </div>
                                            <div class="col-12">
                                                @if (@GetMetadata(tr) is not null)
                                                {
                                                    <span>Metadata: @GetMetadata(tr)</span>
                                                }
                                        </div>
                                        <div class="col-12">
                                            <button 
                                                class="btn btn-success" 
                                                @onclick="() => ViewModel.UpdateTransactionRequest(tr.Id, TransactionRequestStatus.Accepted)">
                                                Submit
                                            </button>
                                            <button 
                                                class="btn btn-default" 
                                                @onclick="() => ViewModel.UpdateTransactionRequest(tr.Id, TransactionRequestStatus.Rejected)">
                                                Cancel
                                            </button>
                                        </div>
                                        break;
                                    default:
                                        <div class="col-6">@tr.App.Name</div>
                                        <div class="col-6">
                                            <Badge Text=@(((ConnectionStatus)tr.StatusId).ToString()) Theme="@(tr.StatusId == (int)tr.StatusId ? "success" : "danger")" />
                                        </div>
                                        break;
                                }
                            </div>
                        </Card>
                    }
                }
            </div>
        </div>
    </div>


</div>

}

@*@if (ViewModel.WalletSummary != null)
{
    <div class="card"> 
        <div class="card-body">
            <h5 class="card-title">
                @ViewModel.WalletSummary.Name
            </h5>
            <div class=" d-flex justify-content-between">
                <div class="h3">
                    @ViewModel.WalletSummary.Amount
                </div>
                <div>
                    <div class="h5">
                        @ViewModel.WalletSummary.AmountInUSD
                    </div>
                    <div>
                        1 ADA = @ViewModel.WalletSummary.CurrencyConversionRate USD
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    
<div class="row pt-3">
    @if(ViewModel.Tokens != null) 
    {
        <div class="col-6">
            <h5>Tokens</h5>
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        @foreach(var token in ViewModel.Tokens)
                        {
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <div>
                                            @token.Name
                                        </div>
                                        <div class="font-size-xs">
                                            @token.Asset
                                        </div>
                                    </div>
                                    <div>
                                        @token.Amount @token.Name
                                    </div>
                                </div>
                            
                            </li>
                        }
                    
                    </ul>
                </div>
            </div>
        </div>
    }
    @if (ViewModel.Transactions != null)
    {
        <div class="col-6">
            <h5>Recent Transactions</h5>
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        @foreach (var transaction in ViewModel.Transactions)
                        {
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <div>
                                            @transaction.Date.ToLongTimeString()
                                        </div>
                                        <div class="font-size-xs">
                                            @Enum.GetName(typeof(TransactionStatus), transaction.TransactionStatus)
                                        </div>
                                    </div>
                                    <div>
                                        @transaction.Amount @transaction.TokenName
                                    </div>
                                    <div>
                                        <Button Text="View Details" />
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <div class="text-center pt-3" @onclick="@(e => ViewModel.GoTo("transactions"))">
                        See More
                    </div>
                </div>
            </div>
        </div>
    }
</div>*@


    

@code {

    protected override async Task OnInitializedAsync()
    {
        if (await ViewModel.GetWalletCount() > 0)
        {
            await ViewModel.FetchDashBoard();
        }else
        {
            ViewModel.GoTo("new-wallet");
        }

        ViewModel.PropertyChanged += (o, e) => StateHasChanged();
    }

    
    private List<TransactionSubmitOutputRequest> GetOutput(TransactionRequest transactionRequest) =>
        JsonConvert.DeserializeObject<List<TransactionSubmitOutputRequest>>(
            (JsonConvert.DeserializeObject<Dictionary<string, object>> (transactionRequest.Parameters))["Outputs"].ToString());

    private string GetMetadata(TransactionRequest transactionRequest) =>
        (JsonConvert.DeserializeObject<Dictionary<string, object>> (transactionRequest.Parameters)["Metadata"])?.ToString();
}

