@page "/wallet/staking/"
@using ProjectTalon.App.ViewModel

<WalletLayout>
    <h1>Staking</h1>

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Stake Pool</th>
                        <th scope="col">Size</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Pledge</th>
                        <th scope="col">Blocks</th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var pool in StakePools)
                {
                    <tr>
                        <th scope="row">@pool.Name</th>
                        <td>@pool.Size</td>
                        <td>@pool.Cost</td>
                        <td>@pool.Pledge</td>
                        <td>@pool.Blocks</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</WalletLayout>

@code {

    public class StakePool
    {
        public string Name { get; set; }
        public decimal Size { get; set; }
        public string Cost { get; set; }
        public decimal Pledge { get; set; }
        public int Blocks { get; set; }
    }

    public List<StakePool> StakePools { get; set; } = new();

    protected override void OnInitialized()
    {
        StakePools.Add(
            new()
            {
                Name = "Sharp Pool",
                Size = 20,
                Cost = "340 + 2.5",
                Pledge = 200,
                Blocks = 15
            }
        );
        StakePools.Add(
            new()
            {
                Name = "Sharp Pool",
                Size = 20,
                Cost = "340 + 2.5",
                Pledge = 200,
                Blocks = 15
            }
        );
        StakePools.Add(
            new()
            {
                Name = "Sharp Pool",
                Size = 20,
                Cost = "340 + 2.5",
                Pledge = 200,
                Blocks = 15
            }
        );
        StakePools.Add(
            new()
            {
                Name = "Sharp Pool",
                Size = 20,
                Cost = "340 + 2.5",
                Pledge = 200,
                Blocks = 15
            }
        );
        StakePools.Add(
            new()
            {
                Name = "Sharp Pool",
                Size = 20,
                Cost = "340 + 2.5",
                Pledge = 200,
                Blocks = 15
            }
        );
    }
}
